<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-socials">
                <a href="#" class="footer-social-link" aria-label="LinkedIn">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
                <a href="#" class="footer-social-link" aria-label="GitHub">
                    <ion-icon name="logo-github"></ion-icon>
                </a>
                <a href="mailto:contact@example.com" class="footer-social-link" aria-label="Email">
                    <ion-icon name="mail-outline"></ion-icon>
                </a>
            </div>
            <p class="footer-copy">&copy; <%= new Date().getFullYear() %> Timofey Sadovnikov. All Rights Reserved.</p>
        </div>
    </div>
</footer>