<header>
    <div class="container">
        <nav>
            <a href="/" class="logo">TIMOFEY SADOVNIKOV</a>
            <button class="hamburger" aria-label="Menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/music.html">Music</a></li>
                <li><a href="/web-dev.html">Web Dev</a></li>
            </ul>
        </nav>
    </div>
</header>