name: Deploy to FTP

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to FTP Server
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install lftp
        run: sudo apt-get install -y lftp

      - name: Deploy to FTP (passive mode)
        run: lftp -u ${{ secrets.FTP_USERNAME }},${{ secrets.FTP_PASSWORD }} -e "set ftp:passive-mode true; set ssl:verify-certificate false; mirror --reverse --delete --verbose --parallel=5 --exclude-glob '.git*' --exclude-glob 'node_modules/' --exclude-glob 'uploads/' --exclude-glob '.gitignore' ./ ./domains/timofey.se/public_html/; quit" ${{ secrets.FTP_HOST }}
